# Server environment variables
PORT=3000
DB_HOST=localhost
DB_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=aux_todo
DB_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_HOST}:${DB_PORT}/${POSTGRES_DB}
ENVIRONMENT=local
SESSION_SECRET=supersecret
# Client environment variables
VITE_API_URL=http://localhost:3000
VITE_SOCKET_URL=http://localhost:3000
