:root {
  --color-primary:  #333;
  --color-progress: #ecad06;
  --color-todo: #008c9e;
  --color-done: #01ad1a;
  --color-bg: #fefefe;
  --text-base: 1rem;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: cal(1rem * 0.5);
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

a{
  text-decoration: none;
}

/* My globals */

html {
  font-size: 16px;
}

body {
  font-family: "Work Sans Variable", sans-serif;
  background-color: var(--color-bg);
  font-size: var(--text-base);
  color: var(--color-primary);
  isolation: isolate;
}
main {
  width: 100%;
}
