.signin {
    width: 100%;
    height: 100%;
    padding: 2rem;
}
.signin.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.signin h2 {
    font-weight: 400;
}
.signin-content{
    display: flex;
    flex-direction: row;
    align-items: last baseline;
    justify-content: flex-start;
    gap: 1rem;
}
.signin-content-input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
}